.potd {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px 1fr;
    background-color: #000000;
    width: 100%;

    .potd__image {
        grid-column-start: 1;
        grid-column-end: 2;
        
    }

    .potd__textbox {
        grid-column-start: 2;
        background-color: #293133;
        color: #ffffff;
        padding: 15px;

        h1 {
            color: #ffffff;
            font-family: "Lato", sans-serif;
            font-size: 54px;
            font-weight: 300;
            line-height: 58px;
            margin: 0 0 58px;
        }

        p {
            color: #adb7bd;
            font-family: "Lucida Sans", Arial, sans-serif;
            font-size: 16px;
            line-height: 26px;
            text-indent: 30px;
            margin: 0;
        }

        a {
            color: #fe921f;
            text-decoration: underline;
        }

        a:hover {
            color: #ffffff;
        }

        .date {
            background: #fe921f;
            color: #ffffff;
            display: inline-block;
            font-family: "Lato", sans-serif;
            font-size: 12px;
            font-weight: bold;
            line-height: 12px;
            letter-spacing: 1px;
            margin: 0 0 30px;
            padding: 10px 15px 8px;
            text-transform: uppercase;
        }
    }

    .potd__header {
        background-color: blue;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}


.navigation {
    position: absolute;
    top: 0;
    left: 0;
}
