<div class="potd">

    <div class="potd__header">
        <div class="potd__caption"></div>

        <div class="potd__actions"></div>
    </div>

    <div class="potd__image">
        <img src="https://apod.nasa.gov/apod/image/2108/BrightMeteorPerseids2021-7337-crop-net1024.jpg" />
    </div>

    <div class="potd__textbox">

        <ng-container *ngIf="(model$ | async) as model;">
            <span class="date">4.July 2021</span>
            <h1>{{model.title}}</h1>
            <p>
                {{model.explanation}}
            </p>
        </ng-container>

    </div>
</div>

<!--
<div class="navigation">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>
-->