.container {
    display: grid;
    grid-template-columns: 15% 1fr;
    overflow: hidden;

    .container__menu {
        border: 1px solid green;
    }

    .container__outlet {
        border: 1px solid red;
        overflow: auto;
    }
}