.container {
    display: grid;
    grid-template-columns: 20% 1fr;
    height: 100%;
    width: 100vw;

    .container__menu {
        border: 1px solid green;
    }

    .container__outlet {
        border: 1px solid red;
    }
}